<ion-card>
  <ion-card-header>
    <ion-card-title>Lista de Autos</ion-card-title>
    <ion-card-subtitle>Aqui estão os Autos inseridos por todos</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let carro of carros">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://png.pngtree.com/element_origin_min_pic/17/03/05/cd79fda9cf21aa4994e5ebfdc53842e8.jpg" />
        </ion-thumbnail>
        <ion-label>
          <ion-icon name="heart-empty" *ngIf="carro?.nota == 'Insatisfeito'"></ion-icon>
          <ion-icon name="heart-half" *ngIf="carro?.nota == 'Satisfeito'"></ion-icon>
          <ion-icon name="heart" *ngIf="carro?.nota == 'Muito Satisfeito'"></ion-icon>
          {{carro?.nota}}
        </ion-label>
        <ion-button (click)="setaTela(carro?.id);">{{carrosTela}}</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>