
<ng-container *ngTemplateOutlet="setaTemplate(carrosTela);">
  This text is not displayed
</ng-container>

<ng-template #detalhesTemplate>
  <app-reclamacoes-detalhes></app-reclamacoes-detalhes>
</ng-template>

<ng-template #listaTemplate>
  <app-reclamacoes-lista [tela]="carrosDetalhe" (setaBotao)="setaTela($event);"></app-reclamacoes-lista>
</ng-template>

<ng-template #inserirTemplate>
  <app-reclamacoes-inserir (retorno)="setaTela($event);"></app-reclamacoes-inserir>
</ng-template>
<ion-button (click)="setaTela(carrosBotao);">{{carrosBotao}}</ion-button>