<ion-card>
  <ion-card-header>
    <ion-card-title>Insira a avalição dos servços realizados</ion-card-title>
    <ion-card-subtitle>Aqui você pode compartilhar informações sobre os pretadoes de serviços</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Selecione a mecenica de preferencia" [(ngModel)]="product.mecanica">
          <ion-select-option *ngFor="let mecanica of mecanicas" [value]="mecanica?.name">{{ mecanica?.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select interface="popover" placeholder="Selecione a mecenica de preferencia" [(ngModel)]="product.procedimento">
          <ion-select-option *ngFor="let procedimento of procedimentos" [value]="procedimento?.name">{{ procedimento?.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input placeholder="Bom ou mau atendimento e etc..." [(ngModel)]="product.descricao"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button (click)="createPoduct();">
      Enviar
      <ion-icon slot="end" name="send"></ion-icon>
    </ion-button>
    <ion-button (click)="cancel();">
      <ion-icon name="close-circle"></ion-icon>
      Cancelar
    </ion-button>
  </ion-card-content>
</ion-card>