<ion-card>
  <ion-card-header>
    <ion-card-title>Lista de Procedimentos</ion-card-title>
    <ion-card-subtitle>Aqui estão os procedimentos inseridos por todos</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let mecanica of mecanicas">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://png.pngtree.com/png-vector/20220623/ourmid/pngtree-car-parts-frame-realistic-composition-with-empty-circle-space-on-top-png-image_5205641.png" />
        </ion-thumbnail>
        <ion-label>{{mecanica?.name}}</ion-label>
        <ion-button (click)="setaTela(mecanica?.id);">{{tela}}</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>